pip install --upgrade pip
pip install azure-ai-documentintelligence
pip install azure-ai-textanalytics
pip install azure-ai-language
pip install python-docx
pip install openai
pip install scikit-learn
pip install sentence-transformers
pip install streamlit
pip install -U sentence-transformers
