streamlit
azure-ai-documentintelligence
azure-ai-textanalytics
azure-ai-language-conversations
azure-core
python-docx
openai==0.11.6
scikit-learn
sentence-transformers
sentence-transformers
opencv-python-headless
scikit-image


